
<%= form_tag recipes_path, method: :get, :id =>'search-form', class: "form-inline my-2 my-lg-0 w-100" do %>
  <div class="form-group">
    <%= text_field_tag(
        :search,
        params[:search],
        placeholder: "Nombre o ingredientes clave",
        class: "form-control my-2"
    ) %>
  </div>

  <%= submit_tag("Buscar", :name => nil, :class => 'btn btn-outline-success my-sm-2 mb-3 ml-2') %>
<% end %>
