$primary-color: #F86223;
$secondary-color: #2ca5b9;
$background-dark: #36424a;
$background-nav: #FFDF6E;
$background-light: #FFF1BD;
$theme-colors: ( "primary": $primary-color, "secondary": $secondary-color);
