body {
    background-image: image-url('fondo.png');
}

// .container {
//     background: white;
// }

nav {
    background-color: $background-nav;
    .navbar-toggler {
        border-color: rgba(0, 0, 0, 0.1) !important;
    }

    a {
        color: $primary-color !important;
    }


}
.btn-primary {
    color: white !important;
}


.nombre-receta {
    color: $primary-color;
}


small {
    background: $background-nav;
    color: $primary-color;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
}

.comment {
    border-radius: 20px;
}


.unread {
    border-left: 5px $secondary-color solid;
}

// ************************ ESTO ES SOLO DE LA RECETA *****************************

p, li {
    // font-size: 150%;
}
.jumbotron {
    background-color: $background-light;
    padding: 0.5em 0.6em;
}
h1, h3 {
  font-family: Snell Roundhand, cursive;
}
.fa-cutlery {
  float: left;
  margin-left: -1.5em;
  padding-left: 2em;
  padding-right: 1.2em;
  color: #F86223;
}


.ingredient{
  list-style-type: none;

  margin-left: -2em;
  columns: 2;
  @include bp-medium {
      columns: 1;
  }
  // @media (min-width: 768px) {
  //   columns: 1;
  // }
  // @media (min-width: 992px) {
  //   columns: 2;
  // }
  // @include bp-medium {
  //     columns: 2;
  // }

  li {
       padding-bottom: 0.5em;

    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1.5em;
    text-indent: -1.5em;
    i {
        margin-top: 0.2em;
    }
}


    // li {
    //     margin-left: 1em;
    //     text-indent: -1em;
    // }
}
/*ul li {
    margin-left: 1em;
    text-indent: -1em;
}*/
.instrucciones::first-letter {
  font-family: cursive;
  font-size: 200%;
  color: #F86223;
}


.divider {
position: relative;
border-bottom: 1px solid #f0f0f0;
margin-bottom: 30px;
margin-top: 30px; }

.divider:before {
position: absolute;
content: '';
width: 30px;
height: 30px;
border: 1px solid #f0f0f0;
left: 50%;
margin-left: -15px;
top: 50%;
background: #fff;
margin-top: -15px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }

.divider:after {
position: absolute;
content: '';
width: 20px;
height: 20px;
border: 1px solid #2ca5b9;
left: 50%;
margin-left: -10px;
top: 50%;
background: #2ca5b9;
margin-top: -10px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }
