body {
    background: #DECEB9 image-url('body.jpg') 0 0 repeat;
}

// .container {
//     background: white;
// }

nav {
    background-color: $background-nav;
    .navbar-toggler {
        border-color: rgba(0, 0, 0, 0.1) !important;
    }

    a {
        color: $primary-color !important;
    }


}
.btn-primary {
    color: white !important;
}


.nombre-receta {
    color: $primary-color;
}


small {
    background: $background-nav;
    color: $primary-color;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
}

.comment {
    border-radius: 20px;
}


.unread {
    border-left: 5px $secondary-color solid;
}


.fa-chevron-left {
  margin-left: -1.5em;
  margin-right: 0.5em;
}

.categories{
  .list-group-item {
    padding-left: 2em;
  }
}



h4.category-header  {
  font-family: $font-headers;
  position: relative;
      overflow: hidden;
      // color: #444;
      // color: #a1a1a1;
      color: #3b3b3b;
      span {
          display: inline-block;
          vertical-align: baseline;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          position: relative;
          padding-right: 40px;

          &:after {
              content: '';
              display: block;
              width: 1000px;
              position: absolute;
              top: 0.73em;
              border-top: 2px solid $primary-color;
              // border-top: 2px solid #a1a1a1;
              // border-top: 2px solid #444;
          }

          &:before { right: 100%; }
          &:after { left: 100%; }
      }
}

// ************************ ESTO ES SOLO DE LA RECETA *****************************

p, li {
    // font-size: 150%;
}
.jumbotron {
    background-color: $background-light;
    padding: 0.5em 0.6em;
}
h1, h3 {
  // font-family: Snell Roundhand, cursive;
  font-family: $font-headers;
}
.fa-cutlery {
  float: left;
  margin-left: -1.5em;
  padding-left: 2em;
  padding-right: 1.2em;
  color: #F86223;
}


.ingredient{
  list-style-type: none;

  margin-left: -2em;
  columns: 2;
  @include bp-medium {
      columns: 1;
  }
  // @media (min-width: 768px) {
  //   columns: 1;
  // }
  // @media (min-width: 992px) {
  //   columns: 2;
  // }
  // @include bp-medium {
  //     columns: 2;
  // }

  li {
       padding-bottom: 0.5em;

    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1.5em;
    text-indent: -1.5em;
    i {
        margin-top: 0.2em;
    }
}


    // li {
    //     margin-left: 1em;
    //     text-indent: -1em;
    // }
}
/*ul li {
    margin-left: 1em;
    text-indent: -1em;
}*/
.instrucciones::first-letter {
  font-family: $font-headers;
  font-size: 170%;
  color: #F86223;
}


.divider {
position: relative;
border-bottom: 1px solid #f0f0f0;
margin-bottom: 30px;
margin-top: 30px; }

.divider:before {
position: absolute;
content: '';
width: 30px;
height: 30px;
border: 1px solid #f0f0f0;
left: 50%;
margin-left: -15px;
top: 50%;
background: #fff;
margin-top: -15px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }

.divider:after {
position: absolute;
content: '';
width: 20px;
height: 20px;
border: 1px solid #2ca5b9;
left: 50%;
margin-left: -10px;
top: 50%;
background: #2ca5b9;
margin-top: -10px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }

.recipe-card{
  .card-footer{
    padding: 0;


  }
}

small.recipe-info {
  margin: 0;
  text-align: center;
}

span.span-footer{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;


$grid-gutter-width: 10px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 4
);

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck .card {
			flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
		}
	}
}
